name: Autograding

on:
  push:
    branches: [ main ]
  pull_request:

env:
  HW_NAME: hw1  # change to hw1, hw2, ... in other assignments

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout student repository
        uses: actions/checkout@v4

      - name: Checkout tests repository
        uses: actions/checkout@v4
        with:
          repository: uci-cs273p/autograding-tests
          path: public-tests

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r public-tests/requirements.txt

      - name: Run tests for this homework
        run: |
          pytest -q public-tests/${{ env.HW_NAME }}
